.cart {
  position: absolute!important;
  top: 5%!important;
  right: 10%;
  font-size: 30px;
}

.cart_icon {
  display: inline-block;
  cursor: pointer;
}

.cart_content {
  font-size: 14px;
  position: absolute;
  top: calc(5% + 30px);
  right: calc(10% + 30px);
  padding: 15px;
  border: 2px solid #ccc;
  background: #fff;
  width: calc(80% - 60px);
}

.close_cart {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.cart_item_list {
  padding: 10px 0;
}

.cart_item_list li{
  list-style-type: none;
}

.cart_item_description {
  margin: 10px 0;
}

.cart_item_count {
  width: 60px;
  text-align: center;
  padding: 0;
}

.cart_counter {
  font-size: 25px;
  display: inline-block;
}

.cart_counter span {
  position: absolute;
}

.coupon_cart {
  position: relative;
  margin: 0 10px;
}

.icon_coupon_delete {
  position: absolute;
  top: 0;
  right: 3px;
}

@media print{
  .btn-primary, .close_cart, .icon_coupon_delete {
    display: none!important;
  }

  .cart_item_count {
    border: none;
  }
}